<blockquote>Please note that if you use any of the following extensions in Chrome (possibly in other browsers as well), you must disable them for the form to complete all of its functions correctly:
    <ul><li>Privacy Badger</li>
    <li>UBlock</li>
    <li>Potentially AdBlock (Plus Only)</li></ul>
</blockquote>
<form id="form-species" data-type="grid" data-columns="2">
    <blockquote class="fullWidth">Please be aware that this form submits all details to a staff-only area for our discussion, but also submits species name (and no other information) to the public server to help prevent duplications during the discussion process.</blockquote>
    <label>
        <b>Alias</b>
        <span><input type="text" id="member" placeholder="Alias" /></span>
    </label>
    <label>
        <b>Species</b>
        <span><input type="text" id="species" placeholder="Species Name" /></span>
    </label>
    <label class="fullWidth">
        <b>Proposed Physiology</b>
        <span><textarea id="physiology" placeholder="Physiology traits you'd like to see" required></textarea></span>
    </label>
    <label>
        <b>Proposed Abilities</b>
        <span><textarea id="abilities" placeholder="Abilities you'd like to see" required></textarea></span>
    </label>
    <label>
        <b>Proposed Weaknesses</b>
        <span><textarea id="weaknesses" placeholder="Weaknesses you'd like to see" required></textarea></span>
    </label>
    <label class="fullWidth">
        <b>Other Ideas</b>
        <span><textarea id="ideas" placeholder="If you have any other ideas, please share them!"></textarea></span>
    </label>
    <label class="fullWidth">
        <b>Resources</b>
        <span><textarea id="resources" placeholder="If you have links to resources, please link us!"></textarea></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>