<form id="form-reserve-plot" data-type="grid" data-columns="2">
    <label class="fullWidth">
        <b>Alias</b>
        <span><input type="text" id="member" placeholder="Alias" required /></span>
    </label>
    <label>
        <b>Plot</b>
        <span><select required id="plot"><option value="">(select)</option></select></span>
    </label>
    <label>
        <b>Section</b>
        <span><select required id="section"><option value="">(select)</option></select></span>
    </label>
    <label class="fullWidth">
        <b>Role</b>
        <span><select required id="role"><option value="">(select)</option></select></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>