<nav class="nav--main">
    <div class="nav--left">
        <button title="Open Menu"><i class="fa-light fa-bars"></i></button>
        <a href="/" title="Home"><i class="fa-light fa-home"></i></a>
        <a href="/" title="Guidebook"><i class="fa-light fa-books"></i></a>
        <a href="/" title="View First Last" class="memOnly"><i class="fa-light fa-user"></i></a>
        <a href="/" title="Edit Profile" class="memOnly"><i class="fa-light fa-cog"></i></a>
        <a href="/" title="Inbox (0)" data-new="0" class="memOnly"><i class="fa-light fa-envelope"></i></a>
        <a href="/" title="Alerts (0)" data-new="1" class="memOnly"><i class="fa-light fa-bell"></i></a>
        <button title="Switch Accounts" class="memOnly"><i class="fa-light fa-arrow-right-arrow-left"></i></button>
        <a href="/" title="Logout" class="memOnly"><i class="fa-light fa-power-off"></i></a>
        <a href="/" title="Store" class="memOnly"><i class="fa-light fa-store"></i></a>
        <a href="/" title="Join Discord"><i class="fa-brand fa-discord"></i></a>
        <a href="/" title="Admin CP" target="_blank" class="staffOnly"><i class="fa-light fa-screwdriver-wrench"></i></a>
    </div>
</nav>
<nav class="nav--breadcrumb">
    <div id="navstrip" align="left">&nbsp;<a href="@@prefix/public/index.html">Site Name</a></div>
</nav>