@import '../global/mixins.scss';

/*******************************
    Global
********************************/
body {
    font-family: var(--font-body);
    font-size: var(--size-md);
    letter-spacing: 0.05em;
    font-weight: 300;
    background: var(--bg-primary);
    color: var(--text-primary);

    &:not(#Profile)::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        -webkit-filter: grayscale(1) contrast(120%) brightness(70%);
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.1;
    }
}

main {
    & > br {
        display: none;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000;
    background: var(--bg-transparent);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--font-header);
    font-weight: 900;
    @include fluid-type(30, 40, 480, 1920);

    .loading-bubble {
        background: var(--bg-accent);
        color: var(--text-on-accent);
        padding: 40px 50px 50px;
        border-radius: 2px;
        display: grid;
        gap: 10px;

        i {
            font-size: 0.75em;
        }
    }
}

h2,
h3,
h4,
h5,
h6,
h7,
h8,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8 {
    margin-bottom: 15px;

    &:not(:first-child) {
        margin-top: 30px;
    }
}

h2,
h3,
h4,
h5,
.h2,
.h3,
.h4,
.h5 {
    font-weight: 900;
    font-family: var(--font-header);
    line-height: 160%;
    width: max-content;
}

h2,
h3,
.h2,
.h3 {
    border: 1px solid var(--border-accent);
    background: var(--bg-accent-30);
    color: var(--text-secondary);
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 0.5px);
        left: 100%;
        height: 1px;
        background: var(--border-accent);
    }
}

h2,
.h2 {
    padding: 15px 30px;
    @include fluid-type(16, 24, 480, 1920);
    max-width: calc(100% - 50px);

    &::after {
        width: 50px;
    }
}

h3,
.h3 {
    padding: 10px 20px;
    @include fluid-type(14, 18, 480, 1920);
    max-width: calc(100% - 30px);

    &::after {
        width: 30px;
    }
}

h4,
h5,
.h4,
.h5 {
    border-bottom: 1px solid var(--border-accent);
    color: var(--text-secondary);
}

h4,
.h4 {
    @include fluid-type(16, 24, 480, 1920);
    padding: 0 40px 5px 0;
}

h5,
.h5 {
    @include fluid-type(14, 18, 480, 1920);
    padding: 0 25px 5px 0;
}

h6,
.h6 {
    text-transform: uppercase;
    font-size: var(--size-sm);
    color: var(--text-secondary);
    max-width: calc(100% - 40px);
    width: max-content;
    line-height: 160%;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 0.5px);
        left: calc(100% + 15px);
        height: 1px;
        background: var(--border-accent);
        width: 25px;
    }
}

h7,
h8,
.h7,
.h8 {
    display: block;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    font-size: var(--size-xs);
    letter-spacing: 0.15em;
    color: var(--text-secondary);
    max-width: 250px;
    width: 100%;
    line-height: 200%;
}

h8,
.h8 {
    background: var(--bg-accent);
    color: var(--text-on-accent);
    padding: 10px 15px;
}

p,
ul {
    margin: 20px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
hr {
  border: 1px solid var(--bg-accent);
  height: 10px;
  background: var(--bg-accent-30);
  margin: 20px auto;
}

a {
    color: var(--text-accent);

    &[href=""],
    &[href="<i>No Information</i>"] {
        display: none;
    }
}

input,
select,
textarea {
    border: 1px dotted var(--border-accent);
    background: var(--bg-secondary);
    padding: 3px 8px;
    color: var(--text-secondary);

    &:focus {
        outline: none;
        border: 1px solid var(--border-accent);
    }
}
select {
    padding: 8px;
}
#submit,
.submit {
    background: var(--bg-accent-30);
    color: var(--text-secondary);
    border: 1px solid var(--border-accent);
    max-width: max-content;
    margin: 0 auto;
    font-size: var(--size-xl);
    padding: 5px 20px;
    font-weight: 900;
    font-family: var(--font-header);
    line-height: 200%;
    transition-duration: 0.3s;

    &:hover {
        background: var(--bg-accent);
        color: var(--text-on-accent);
    }
}

blockquote {
    max-width: 500px;
    margin: 20px auto;
    background: var(--bg-accent-30);
    border: 1px solid var(--border-accent);
    padding: 15px 20px;
    color: var(--text-secondary);
    font-size: 0.9em;
}

ul,
ol {
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 200%;

    br {
        display: none;
    }

    li {
        padding-left: 10px;
        
        &::marker {
            font-family: 'Font Awesome 6 Pro';
            font-weight: 300;
            font-style: normal;
            font-size: 0.7em;
            color: var(--accent);
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

tag-code {
    display: grid;
    gap: 10px;

    button {
        border: 1px solid var(--bg-accent);
        background: var(--bg-accent);
        color: var(--text-on-accent);
        font-weight: 700;
        font-size: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition-duration: 0.3s;

        &:hover {
            background: none;
            color: var(--text-primary);
        }
    }

    pre {
        textarea {
            width: 100%;
            height: 100px;
            background: var(--bg-quaternary);
            border: 1px solid var(--border-primary);
            color: var(--text-primary);
            padding: 5px 10px;
            font-family: var(--font-body);

            .light & {
                background: var(--bg-secondary);
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: var(--bg-primary);
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
    }

    &.is-open {
        display: flex;
    }

    &--close {
        position: absolute;
        top: 10px;
        right: 10px;
        text-transform: uppercase;
        background: var(--bg-accent-30);
        border: 1px solid var(--border-accent);
        color: var(--text-secondary);
        font-size: var(--size-xl);
        font-weight: 900;
        font-family: var(--font-header);
        padding: 5px 20px;
        cursor: pointer;
    }

    #quick-login {
        strong {
            display: block;
            max-width: max-content;
            font-size: calc(var(--xsBody) + 1px);
            font-family: var(--font-body-bold);
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding: var(--spacing-xs) var(--spacing-sm);
            background: var(--bg-color-transparent);
        
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: var(--bg-color);
                border-radius: 1px;
            }
        }
        form {
            div {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                width: 90vw;
                gap: var(--spacing-xs);
                text-align: left;
                background: var(--bg-content);
                padding: var(--spacing-lg);
                border-radius: 3px;
            }
        }
    }
}

#account-switch {
    width: calc(100% - 30px);
    height: calc(100vh - 80px);
    position: absolute;
    top: 60px;
    left: 20px;
    display: grid;
    align-items: center;
}
#subaccounts_menu {
    overflow: auto;
    max-height: 100%;
    display: block;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-accent) transparent;
    padding-right: 10px;
}
.switch {
    display: grid;
    gap: 10px;

    @include mq-up(xs) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq-up(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq-up(lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    &-block {
        background: var(--bg-accent);
        padding: 15px;
        color: var(--text-on-accent);
        font-size: var(--size-lg);
        font-family: var(--font-header);
        font-weight: 900;
        display: grid;
        grid-template-columns: 35px auto;
        align-items: end;
        cursor: pointer;
        border: 1px solid var(--border-accent);

        &:hover {
            background: var(--bg-accent-50);
            color: var(--text-secondary);

            & > div,
            & > b {
                border-color: var(--text-primary);
            }
        }

        input {
            display: none;
        }

        & > div {
            width: 35px;
            height: 35px;
            border: 1px solid var(--text-on-accent);
            background-size: cover;
            background-position: center;
        }

        & > b {
            border-bottom: 1px solid var(--text-on-accent);
            padding: 0 5px 0 10px;
            margin-bottom: 10px;
            text-align: right;
        }
    }
}

.fa-brand {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 700;
}
.fa-solid,
.fa-regular,
.fa-light,
.fa-thin {
    font-family: 'Font Awesome 6 Pro';
    font-style: normal;
}
.fa-solid {
    font-weight: 700;
}
.fa-regular {
    font-weight: 500;
}
.fa-light {
    font-weight: 300;
}
.fa-thin {
    font-weight: 100;
}

.newstext,
.wrapmini,
#submenu,
#userlinks {
    display: none;
}