/*******************************
    Settings
********************************/

li::marker,
.webpage .accordion--content a.is-active::before,
.webpage .accordion--content a:hover::before {
    content: '\f178';
}
.webpage .claim-member > span a::after,
a[target="_blank"]:not(.staffOnly)::after {
    content: '\f08e';
}
.webpage .species--filter-group label::before,
.ml--filter-group label::before,
.ml--sort-buttons button::before {
    content: '\f00c';
}