/*******************************
    Settings
********************************/

li::marker {
    content: '\f178';
}
.webpage .claim-member > span a::after,
a[target="_blank"]:not(.staffOnly)::after {
    content: '\f08e';
}
.webpage {
    .accordion {
        &--content {
            a {
                &.is-active,
                &:hover {
                    &::before {
                        content: '\f178';
                    }
                }
            }
        }
    }
}