/*******************************
    Variables
********************************/
:root {
    --font-header: 'Inter', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    
    --size-xs: 8px;
    --size-sm: 10px;
    --size-md: 12px;
    --size-lg: 14px;
    --size-xl: 16px;

    --size--main-menu-height: 40px;
    --size--sub-menu-height: 30px;
    --size--side-menu-width: 300px;
    
    --rgb: 176, 123, 107;

    --black: rgb(20, 20, 20);
    --offblack: rgb(35, 35, 35);
    --grey-xdark: rgb(45, 45, 45);
    --grey-dark: rgb(65, 65, 65);
    --grey-mdark: rgb(85, 85, 85);
    --grey-medium: rgb(176, 176, 176);
    --grey-mlight: rgb(147, 147, 147);
    --grey-xlight: rgb(200, 200, 200);
    --offwhite: rgb(220, 220, 220);
    --white: rgb(235, 235, 235);

    --bg-accent: var(--accent);
    --bg-accent-transparent: var(--accent-50);
    --bg-primary: var(--black);
    --bg-secondary: var(--offblack);
    --bg-tertiary: var(--grey-xdark);
    --bg-quaternary: var(--grey-dark);

    --text-on-accent: var(--black);
    --text-accent: var(--accent);
    --text-primary: var(--grey-mlight);
    --text-secondary: var(--grey-xlight);

    --border-main: var(--grey-mdark);
}

body {
    &.lgFont {
        --size-xs: 10px;
        --size-sm: 12px;
        --size-md: 14px;
        --size-lg: 16px;
        --size-xl: 18px;
    }
    &.light {
        --bg-accent: var(--accent);
        --bg-accent-transparent: var(--accent-50);
        --bg-primary: var(--offwhite);
        --bg-secondary: var(--white);
        --bg-tertiary: var(--offwhite);
        --bg-quaternary: var(--grey-medium);
    
        --text-on-accent: var(--black);
        --text-accent: var(--accent);
        --text-primary: var(--grey-dark);

        --border-main: var(--grey-medium);

        //Other
        &.g-1,
        .g-1,
        &.g-2,
        .g-2,
        &.g-3,
        .g-3,
        &.g-5,
        .g-5 {
            --rgb: 178, 220, 223;
        }
    
        //Staff
        &.g-4,
        .g-4,
        [data-group="staff"],
        [data-group="Staff"],
        [data-group="STAFF"] {
            --rgb: 140, 168, 161;
        }
    
        //Sorted
        &.g-6,
        .g-6,
        [data-group="writer"],
        [data-group="Writer"],
        [data-group="WRITER"] {
            --rgb: 130, 147, 109;
        }
        
        //Birch
        &.g-7,
        .g-7,
        [data-group="birch"],
        [data-group="Birch"],
        [data-group="BIRCH"] {
            --rgb: 205, 177, 156;
        }
        
        //Lupin
        &.g-8,
        .g-8,
        [data-group="lupin"],
        [data-group="Lupin"],
        [data-group="LUPIN"] {
            --rgb: 172, 143, 176;
        }
        
        //Spruce
        &.g-9,
        .g-9,
        [data-group="spruce"],
        [data-group="Spruce"],
        [data-group="SPRUCE"] {
            --rgb: 119, 153, 141;
        }
        
        //Dandelion
        &.g-10,
        .g-10,
        [data-group="dandelion"],
        [data-group="Dandelion"],
        [data-group="DANDELION"] {
            --rgb: 174, 148, 99;
        }
        
        //Blueberry
        &.g-11,
        .g-11,
        [data-group="blueberry"],
        [data-group="Blueberry"],
        [data-group="BLUEBERRY"] {
            --rgb: 70, 120, 142;
        }
        
        //Juniper
        &.g-12,
        .g-12,
        [data-group="juniper"],
        [data-group="Juniper"],
        [data-group="JUNIPER"] {
            --rgb: 112, 118, 159;
        }
        
        //Hemlock
        &.g-13,
        .g-13,
        [data-group="hemlock"],
        [data-group="Hemlock"],
        [data-group="HEMLOCK"] {
            --rgb: 151, 176, 174;
        }
        
        //Nettle
        &.g-14,
        .g-14,
        [data-group="nettle"],
        [data-group="Nettle"],
        [data-group="NETTLE"] {
            --rgb: 145, 179, 139;
        }
    
        //Amaranth
        &.g-15,
        .g-15,
        [data-group="amaranth"],
        [data-group="Amaranth"],
        [data-group="AMARANTH"] {
            --rgb: 181, 111, 111;
        }
    
        //Sundew
        &.g-16,
        .g-16,
        [data-group="sundew"],
        [data-group="Sundew"],
        [data-group="SUNDEW"] {
            --rgb: 189, 134, 101;
        }
    
        //Tobacco
        &.g-17,
        .g-17,
        [data-group="tobacco"],
        [data-group="Tobacco"],
        [data-group="TOBACCO"] {
            --rgb: 132, 97, 69;
        }
    
        //Thistle
        &.g-18,
        .g-18,
        [data-group="thistle"],
        [data-group="Thistle"],
        [data-group="THISTLE"] {
            --rgb: 138, 102, 149;
        }
    
        //Balsam
        &.g-19,
        .g-19,
        [data-group="balsam"],
        [data-group="Balsam"],
        [data-group="BALSAM"] {
            --rgb: 134, 124, 116;
        }
    
        //Clover
        &.g-20,
        .g-20,
        [data-group="clover"],
        [data-group="Clover"],
        [data-group="CLOVER"] {
            --rgb: 85, 111, 74;
        }
    }

    //Set up
    &[class*="g-"],
    [class*="g-"] {
        --accent: rgb(var(--rgb));
        --accent-50: rgba(var(--rgb), 0.5);

        --border-accent: var(--accent);
        --bg-accent: var(--accent);
        --bg-accent-transparent: var(--accent-50);
        --text-accent: var(--accent);
    }

    //Other
    &.g-1,
    .g-1,
    &.g-2,
    .g-2,
    &.g-3,
    .g-3,
    &.g-5,
    .g-5 {
        --rgb: 178, 220, 223;
    }

    //Staff
    &.g-4,
    .g-4,
    [data-group="staff"],
    [data-group="Staff"],
    [data-group="STAFF"] {
        --rgb: 140, 168, 161;
    }

    //Sorted
    &.g-6,
    .g-6,
    [data-group="writer"],
    [data-group="Writer"],
    [data-group="WRITER"] {
        --rgb: 130, 147, 109;
    }
    
    //Birch
    &.g-7,
    .g-7,
    [data-group="birch"],
    [data-group="Birch"],
    [data-group="BIRCH"] {
        --rgb: 205, 177, 156;
    }
    
    //Lupin
    &.g-8,
    .g-8,
    [data-group="lupin"],
    [data-group="Lupin"],
    [data-group="LUPIN"] {
        --rgb: 172, 143, 176;
    }
    
    //Spruce
    &.g-9,
    .g-9,
    [data-group="spruce"],
    [data-group="Spruce"],
    [data-group="SPRUCE"] {
        --rgb: 119, 153, 141;
    }
    
    //Dandelion
    &.g-10,
    .g-10,
    [data-group="dandelion"],
    [data-group="Dandelion"],
    [data-group="DANDELION"] {
        --rgb: 174, 148, 99;
    }
    
    //Blueberry
    &.g-11,
    .g-11,
    [data-group="blueberry"],
    [data-group="Blueberry"],
    [data-group="BLUEBERRY"] {
        --rgb: 70, 120, 142;
    }
    
    //Juniper
    &.g-12,
    .g-12,
    [data-group="juniper"],
    [data-group="Juniper"],
    [data-group="JUNIPER"] {
        --rgb: 112, 118, 159;
    }
    
    //Hemlock
    &.g-13,
    .g-13,
    [data-group="hemlock"],
    [data-group="Hemlock"],
    [data-group="HEMLOCK"] {
        --rgb: 91, 121, 118;
    }
    
    //Nettle
    &.g-14,
    .g-14,
    [data-group="nettle"],
    [data-group="Nettle"],
    [data-group="NETTLE"] {
        --rgb: 145, 179, 139;
    }

    //Amaranth
    &.g-15,
    .g-15,
    [data-group="amaranth"],
    [data-group="Amaranth"],
    [data-group="AMARANTH"] {
        --rgb: 181, 111, 111;
    }

    //Sundew
    &.g-16,
    .g-16,
    [data-group="sundew"],
    [data-group="Sundew"],
    [data-group="SUNDEW"] {
        --rgb: 189, 134, 101;
    }

    //Tobacco
    &.g-17,
    .g-17,
    [data-group="tobacco"],
    [data-group="Tobacco"],
    [data-group="TOBACCO"] {
        --rgb: 132, 97, 69;
    }

    //Thistle
    &.g-18,
    .g-18,
    [data-group="thistle"],
    [data-group="Thistle"],
    [data-group="THISTLE"] {
        --rgb: 138, 102, 149;
    }

    //Balsam
    &.g-19,
    .g-19,
    [data-group="balsam"],
    [data-group="Balsam"],
    [data-group="BALSAM"] {
        --rgb: 134, 124, 116;
    }

    //Clover
    &.g-20,
    .g-20,
    [data-group="clover"],
    [data-group="Clover"],
    [data-group="CLOVER"] {
        --rgb: 85, 111, 74;
    }
}