<h2>Standard Groups</h2>
<div data-type="grid" data-columns="2">
    <div class="group g-15">
        <h3>Amaranth</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/amaranth1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/amaranth1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/amaranth1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/amaranth1.jpg" /></span>
        </div>
        <blockquote>combat boots with a bit of a heel / knowing when to blend in and when to stand out / heavy on the eyeliner / getting back up when you’re knocked down / stuck between two worlds / dark humor to cover up the pain</blockquote>
    </div>
    <div class="group g-7">
        <h3>Birch</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/birch1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/birch1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/birch1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/birch1.jpg" /></span>
        </div>
        <blockquote>fluid and resilient / backpacking across europe / the “mom friend” / getting up at a reasonable hour / finding the silver linings / a forest in wintertime / bringing coffee for everybody / the first to arrive and the last to leave</blockquote>
    </div>
    <div class="group g-11">
        <h3>Blueberry</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/blueberry1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/blueberry1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/blueberry1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/blueberry1.jpg" /></span>
        </div>
        <blockquote>sweet as punch / seeing the best in everyone / knowing everybody’s love languages / making flower crowns out of whatever you can reach / laughing until you can’t breathe / eating dessert before dinner</blockquote>
    </div>
    <div class="group g-22">
        <h3>Cedar</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/cedar1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/cedar1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/cedar1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/cedar1.jpg" /></span>
        </div>
        <blockquote>just a tiny bit unhinged / grins that don't reach your eyes / disarray and disorder / lost objects in the couch cushions / bursts of rain in between sunshine / shirking social constructs / chaos is as important as order</blockquote>
    </div>
    <div class="group g-10">
        <h3>Dandelion</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/dandelion1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/dandelion1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/dandelion1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/dandelion1.jpg" /></span>
        </div>
        <blockquote>carefree and creative / the loudest laugh in the room / clothes that don’t quite match / showing up fifteen minutes late with starbucks / all-nighters fueled by redbull / knows how to roll with the punches</blockquote>
    </div>
    <div class="group g-25">
        <h3>Goldenrod</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/goldenrod2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/goldenrod2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/goldenrod2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/goldenrod2.jpg" /></span>
        </div>
        <blockquote>an optimistic realist / looking at the bigger picture / the changing of the seasons / sunshine at a funeral / calling up an old friend for the first time in years / "love is worth the pain it brings" / hoping for the best but prepared for the worst</blockquote>
    </div>
    <div class="group g-13">
        <h3>Hemlock</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hemlock1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hemlock1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hemlock1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hemlock1.jpg" /></span>
        </div>
        <blockquote>melancholy / the patter of rain against a window / soft piano music / bruises you don’t remember getting / being talked over in a room full of people / feeling the wind on your face / giving your last piece of food to someone that needs it more</blockquote>
    </div>
    <div class="group g-12">
        <h3>Juniper</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/juniper1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/juniper1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/juniper1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/juniper1.jpg" /></span>
        </div>
        <blockquote>volatile and unpredictable / matching tattoos with people you don’t talk to anymore / hurting others before they can hurt you / feeling the bass reverberate through your chest / “what are you looking at?” / mosh pits / staying high so you don't crash</blockquote>
    </div>
    <div class="group g-8">
        <h3>Lupin</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/lupin2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/lupin2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/lupin2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/lupin2.jpg" /></span>
        </div>
        <blockquote>stronger than you look / often underestimated / keeping the peace / crying out of frustration / prefers libraries to bookstores / asking the hard questions / embracing the past instead of moving on / fear of disappointing others</blockquote>
    </div>
    <div class="group g-14">
        <h3>Nettle</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/nettle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/nettle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/nettle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/nettle1.jpg" /></span>
        </div>
        <blockquote>picking fights just to feel alive / the smell of alcohol fresh on your breath / assuming the worst and pretending you accept it / wicked smiles that don’t reach your eyes / a glare that could cut through glass / lights reflected in a rain puddle</blockquote>
    </div>
    <div class="group g-30">
        <h3>Periwinkle</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/periwinkle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/periwinkle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/periwinkle1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/periwinkle1.jpg" /></span>
        </div>
        <blockquote>sweet but stubborn / the first feeble cries of a newborn animal / having the odds stacked against you and overcoming / pressing kisses over bruised knuckles / ink smeared on the palm of your hand / always running a little bit late</blockquote>
    </div>
    <div class="group g-31">
        <h3>Primrose</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/primrose1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/primrose1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/primrose1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/primrose1.jpg" /></span>
        </div>
        <blockquote>devout and well-mannered / sticking to the status quo / licking your fingers before turning a page / the fine china nobody ever uses / starting every letter with "dear" / the braided mane of a show horse / backhanded compliments</blockquote>
    </div>
    <div class="group g-34">
        <h3>Seaweed</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/seaweed2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/seaweed2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/seaweed2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/seaweed2.jpg" /></span>
        </div>
        <blockquote>flows like water / seems to survive the wildest adventures / a long fuse that ends in the biggest explosion or a disappointing fizzle / found family / the first melt of spring / making new memories at any cost</blockquote>
    </div>
    <div class="group g-9">
        <h3>Spruce</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/spruce1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/spruce1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/spruce1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/spruce1.jpg" /></span>
        </div>
        <blockquote>stoic and solid / more left-brained than right / resting bitch face / wise beyond your years / wearing flannel year-round / the “hard sciences” / change is the worst constant / dramatic eye-rolls and dry laughter</blockquote>
    </div>
    <div class="group g-16">
        <h3>Sundew</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sundew1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sundew1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sundew1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sundew1.jpg" /></span>
        </div>
        <blockquote>as sweet as they are deadly / femme fatales / sneaking out before sunrise / the taste of bitterness on your lips / breaking hearts like they broke yours / keeping to the shadows / lipstick on the rim of a glass</blockquote>
    </div>
    <div class="group g-36">
        <h3>Yarrow</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/yarrow1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/yarrow1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/yarrow1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/yarrow1.jpg" /></span>
        </div>
        <blockquote>older than you look / the taste of poison on your tongue / reluctant compassion / no sleep, black coffee / cobblestone streets and lonely castles / a storm rolling in off the ocean / alone in a room of people</blockquote>
    </div>
</div>
<h2>Premium Groups</h2>
<div data-type="grid" data-columns="2">
    <div class="group g-19">
        <h3>Balsam</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/balsam1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/balsam1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/balsam1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/balsam1.jpg" /></span>
        </div>
        <blockquote>adaptive and easygoing / a plan you never stick to / spontaneous road trips across the country / climbing the fence to have a better view / renaming constellations in the night sky / enough coffee to keep you up all night</blockquote>
    </div>
    <div class="group g-35">
        <h3>Buttercup</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/buttercup1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/buttercup1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/buttercup1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/buttercup1.jpg" /></span>
        </div>
        <blockquote>sweaters too big for you / being exactly on time / quiet persistence / beachcombing as the sun rises / picnics with food you made yourself / the smell of fresh baked bread / getting your hands dirty</blockquote>
    </div>
    <div class="group g-20">
        <h3>Clover</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/clover2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/clover2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/clover2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/clover2.jpg" /></span>
        </div>
        <blockquote>having conversations with your pets / pinky promises you'll keep all your life / treating yourself to your favourite candy / sticking up for your friends / bareback horseback riding / getting grumpy when you're tired / chewing the ends of your hair</blockquote>
    </div>
    <div class="group g-29">
        <h3>Hawthorn</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hawthorn1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hawthorn1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hawthorn1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/hawthorn1.jpg" /></span>
        </div>
        <blockquote>mutable and uncertain / knowing it's wrong, but doing it anyways / rays of sun while it's raining / a map held upside-down / seeing an opportunity and taking it / never being able to admit to your mistakes</blockquote>
    </div>
    <div class="group g-23">
        <h3>Laurel</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/laurel1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/laurel1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/laurel1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/laurel1.jpg" /></span>
        </div>
        <blockquote>the scent of rain after a storm / crying until your head throbs / fogged-up glasses / finally giving up hope / punching a mirror and feeling bad about it afterwards / loving too hard too fast / midday naps in an unmade bed</blockquote>
    </div>
    <div class="group g-24">
        <h3>Sage</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sage1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sage1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sage1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sage1.jpg" /></span>
        </div>
        <blockquote>thoughtful and precise / always taking care of others first / a follower, not a leader / never making the first move / going to a coffee shop for the ambience / only taking calculated risks / "what do you want?" "I don't know"</blockquote>
    </div>
    <div class="group g-33">
        <h3>Starflower</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/starflower1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/starflower1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/starflower1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/starflower1.jpg" /></span>
        </div>
        <blockquote>superstitious and mystical / checking your horoscope every morning / a tent set up under the stars / moods that come and go with the wind / forgetting to check the weather before going out</blockquote>
    </div>
    <div class="group g-32">
        <h3>Sweetgrass</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sweetgrass1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sweetgrass1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sweetgrass1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/sweetgrass1.jpg" /></span>
        </div>
        <blockquote>handwritten letters sealed with stickers / daydreaming on the bus / music that can be heard outside your headphones / kisses to cheeks / mismatched socks / an organized mess / trying anything twice</blockquote>
    </div>
    <div class="group g-18">
        <h3>Thistle</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/thistle2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/thistle2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/thistle2.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/thistle2.jpg" /></span>
        </div>
        <blockquote>practically indestructible / you don't find trouble, trouble finds you / scraped palms and bruised knees / a weed growing through the cracks / a handful of change in an old jacket pocket / would rather fix it than get a new one</blockquote>
    </div>
    <div class="group g-17">
        <h3>Tobacco</h3>
        <div class="group-images">
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/tobacco1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/tobacco1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/tobacco1.jpg" /></span>
            <span><img src="https://files.jcink.net/uploads2/godlybehaviour/GB24/tobacco1.jpg" /></span>
        </div>
        <blockquote>has seen things / imported liquor with a high price tag / honouring your cultural roots / cooking just like your grandmother taught you / a touch of mysticism / a pinch of salt over your left shoulder / won't try new things</blockquote>
    </div>
</div>