<select id="group">
	<option value="">(select)</option>
	<optgroup label="Standard">
		<option value="15">Amaranth</option>
		<option value="7">Birch</option>
		<option value="11">Blueberry</option>
		<option value="22">Cedar</option>
		<option value="10">Dandelion</option>
		<option value="25">Goldenrod</option>
		<option value="13">Hemlock</option>
		<option value="12">Juniper</option>
		<option value="8">Lupin</option>
		<option value="14">Nettle</option>
		<option value="30">Periwinkle</option>
		<option value="31">Primrose</option>
		<option value="9">Spruce</option>
		<option value="16">Sundew</option>
	</optgroup>
	<optgroup label="Premium">
		<option value="19">Balsam</option>
		<option value="20">Clover</option>
		<option value="29">Hawthorn</option>
		<option value="23">Laurel</option>
		<option value="24">Sage</option>
		<option value="33">Starflower</option>
		<option value="18">Thistle</option>
		<option value="17">Tobacco</option>
	</optgroup>
</select>