<header>
    <div class="header">
        <div class="header--main">
            <a href="@@prefix/public/index.html"><h1>
                <span>Godly</span>
                <strong>Behaviour</strong>
            </h1></a>
            <p>but in this twilight, our choices seal our fate</p>
        </div>
        <div class="header--info">
            <div class="header--staff">
                <a href="?showuser=1">
                    <img src="https://dawneggleton.github.io/images/photo/eq/2017-despook2.jpg" loading="lazy">
                    <div class="header--staff-inner">
                        <b>L</b>
                        <span>admin</span>
                    </div>
                </a>
                <a href="?showuser=2">
                    <img src="https://i.imgur.com/4p3skvE.jpg" loading="lazy">
                    <div class="header--staff-inner">
                        <b>S</b>
                        <span>admin</span>
                    </div>
                </a>
                <a href="?showuser=9">
                    <img src="https://i.postimg.cc/c1XTSRBt/20423849-10212974789225825-7372318396940445403-o.jpg" loading="lazy">
                    <div class="header--staff-inner">
                        <b>D</b>
                        <span>mod</span>
                    </div>
                </a>
            </div>
            <div class="header--links">
                <a href="/">read our latest announcement</a>
                <a href="/">visit our active event</a>
            </div>
            <div class="header--intro scroll">
                Welcome to Godly Behaviour! We are a supernatural, small town roleplay set in the imaginary coastal town of Temperance, Cape Breton. We feature open species lore and restrict our member base to 18+.
            </div>
        </div>
    </div>
</header>