<label>
    <b class="h7" data-align="left">Role</b>
    <select id="role">
        <option value="">(select)</option>
        <option value="leader" class="hide ifHunter ifPlot">The Guardians - Leader</option>
        <option value="deputy" class="hide ifHunter ifPlot">The Guardians - Deputy</option>
        <option value="hunter" class="hide ifHunter ifPlot">The Guardians - Hunter</option>
        <option value="traininghunter" class="hide ifHunter">The Guardians - Hunter-in-Training</option>
        <option value="active" class="hide ifHunter ifPlot">Rogue Hunter - Active</option>
        <option value="retired" class="hide ifHunter ifPlot">Rogue Hunter - Retired</option>
        <option value="ceo" class="hide ifConspiracy ifPlot">Vyper - CEO</option>
        <option value="secretary" class="hide ifConspiracy ifPlot">Vyper - Secretary</option>
        <option value="scientist" class="hide ifConspiracy ifPlot">Vyper - Scientist on Faculty</option>
        <option value="researcher" class="hide ifConspiracy ifPlot">Vyper - Researcher</option>
        <option value="theorist" class="hide ifConspiracy ifPlot">Rogue Theorist</option>
        <option value="founder" class="hide ifCult ifPlot">Holy Founder</option>
        <option value="priest" class="hide ifCult ifPlot">High Priest</option>
        <option value="practitioner" class="hide ifCult ifPlot">Practitioner</option>
        <option value="excommunicated" class="hide ifCult ifPlot">Excommunicated</option>
        <option value="directors" class="hide ifFreedom ifPlot">Director</option>
        <option value="legal" class="hide ifFreedom ifPlot">Legal Staff</option>
        <option value="medical" class="hide ifFreedom ifPlot">Medical Staff</option>
        <option value="safehouse" class="hide ifFreedom ifPlot">Safe House Operator</option>
        <option value="housing" class="hide ifFreedom ifPlot">Housing Assistance Staff</option>
        <option value="volunteer" class="hide ifFreedom ifPlot">Volunteer</option>
        <option value="priestess" class="hide ifFreedom ifPlot">Dei Trionfi - The High Priestess</option>
        <option value="magician" class="hide ifFreedom ifPlot">Dei Trionfi - The Magician</option>
        <option value="hierophant" class="hide ifFreedom ifPlot">Dei Trionfi - The Hierophant</option>
        <option value="lovers" class="hide ifFreedom ifPlot">Dei Trionfi - The Lovers</option>
        <option value="chariot" class="hide ifFreedom ifPlot">Dei Trionfi - The Chariot</option>
        <option value="devil" class="hide ifFreedom ifPlot">Dei Trionfi - The Devil</option>
        <option value="hermit" class="hide ifFreedom ifPlot">Dei Trionfi - The Hermit</option>
        <option value="hangedman" class="hide ifFreedom ifPlot">Dei Trionfi - The Hanged Man</option>
        <option value="tower" class="hide ifFreedom ifPlot">Dei Trionfi - The Tower</option>
        <option value="wand" class="hide ifFreedom ifPlot">Dei Trionfi - Wand</option>
        <option value="cup" class="hide ifFreedom ifPlot">Dei Trionfi - Cup</option>
        <option value="sword" class="hide ifFreedom ifPlot">Dei Trionfi - Sword</option>
        <option value="pentacle" class="hide ifFreedom ifPlot">Dei Trionfi - Pentacle</option>
        <option value="cerumlead" class="hide ifBlackops ifPlot">Cerum Pharma - Facility Lead</option>
        <option value="cerumsecure" class="hide ifBlackops ifPlot">Cerum Pharma - Security</option>
        <option value="cerumrd" class="hide ifBlackops ifPlot">Cerum Pharma - Research & Development</option>
        <option value="cerummp" class="hide ifBlackops ifPlot">Cerum Pharma - Manufacturing & Production</option>
        <option value="cerumdist" class="hide ifBlackops ifPlot">Cerum Pharma - Distribution</option>
        <option value="cerumsales" class="hide ifBlackops ifPlot">Cerum Pharma - Sales & Marketing</option>
        <option value="faultlead" class="hide ifBlackops ifPlot">Faultline - Project Lead</option>
        <option value="faultcia" class="hide ifBlackops ifPlot">Faultline - CIA Contact</option>
        <option value="faultsecure" class="hide ifBlackops ifPlot">Faultline - Security</option>
        <option value="faultacquire" class="hide ifBlackops ifPlot">Faultline - Acquisitions Officer</option>
        <option value="faultrd" class="hide ifBlackops ifPlot">Faultline - Research & Development</option>
        <option value="faultcurrent" class="hide ifBlackops ifPlot">Faultline - Current Test Subject</option>
        <option value="faultcolorado" class="hide ifBlackops ifPlot">Faultline - Colorado Test Subject</option>
        <option value="faultalpha" class="hide ifBlackops ifPlot">Faultline - Alpha Group</option>
        <option value="faultbeta" class="hide ifBlackops ifPlot">Faultline - Beta Group</option>
        <option value="faultescape" class="hide ifBlackops ifPlot">Faultline - Escaped Test Subject</option>
        <option value="packwolf" class="hide ifBlackops ifPlot">Pack - Wolf</option>
        <option value="packhawk" class="hide ifBlackops ifPlot">Pack - Hawk</option>
        <option value="packhyena" class="hide ifBlackops ifPlot">Pack - Hyena</option>
        <option value="packlion" class="hide ifBlackops ifPlot">Pack - Lion/Lioness</option>
        <option value="packcrow" class="hide ifBlackops ifPlot">Pack - Crow</option>
        <option value="packcoyote" class="hide ifBlackops ifPlot">Pack - Coyote</option>
        <option value="packcub" class="hide ifBlackops ifPlot">Pack - Cub</option>
        <option value="packkit" class="hide ifBlackops ifPlot">Pack - Kit</option>
        <option value="packfledge" class="hide ifBlackops ifPlot">Pack - Fledgling</option>
        <option value="packpup" class="hide ifBlackops ifPlot">Pack - Pup</option>
    </select>
</label>