@import '../global/mixins.scss';

/*******************************
    Member List
********************************/
.ml {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    text-align: justify;
    font-size: calc(var(--size-md) + 1px);
    line-height: 200%;
    padding: 50px 10px 10px;

    @include mq-up(xs) {
        padding: 60px 30px 30px;
    }

    @include mq-up(sm) {
        padding: 30px;
    }

    form {
        height: 100%;
    }

    .scroll {
        height: 100%;
        padding: 7.5px;

        @include mq-up(xs) {
            padding: 20px;
        }
    }

    .member-sizer,
    &--item {
        width: 100%;
    
        @include mq-up(md) {
            width: calc((100% / 2) - ((30px * 1) / 2));
        }
    
        @include mq-up(lg) {
            //width: calc((100% / 3) - 10px);
        }
    }

    &--item {
        margin-bottom: 30px;
    }
    &--filter-group {
        label {
            text-transform: capitalize;
            display: flex;
            gap: 7px;
            align-items: center;
            cursor: pointer;

            input {
                display: none;
            }

            &::before {
                width: 16px;
                height: 16px;
                border: 1px solid var(--text-on-accent);
                display: flex;
                color: transparent;
                font-family: 'Font Awesome 6 Pro';
                align-items: center;
                justify-content: center;
                font-size: 10px;
            }

            &:hover,
            &.is-checked {

                &::before {
                    color: var(--text-on-accent);
                }
            }
        }
    }
    &--sort-buttons {
        button {
            text-transform: capitalize;
            display: flex;
            gap: 7px;
            align-items: center;
            cursor: pointer;

            &::before {
                width: 16px;
                height: 16px;
                border: 1px solid var(--text-on-accent);
                display: flex;
                color: transparent;
                font-family: 'Font Awesome 6 Pro';
                align-items: center;
                justify-content: center;
                font-size: 10px;
            }

            &:hover,
            &.is-checked {

                &::before {
                    color: var(--text-on-accent);
                }
            }
        }
    }
}
.member {
    display: grid;
    background: var(--bg-secondary);

    @include mq-up(xs) {
        grid-template-columns: 100px auto;
    }

    @include mq-up(md) {
        grid-template-columns: 1fr;
    }

    @include mq-up(lg) {
        grid-template-columns: 100px auto;
    }

    &--image {
        min-height: 200px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .tall {
            display: none;

            @include mq-up(xs) {
                display: initial;
            }

            @include mq-up(md) {
                display: none;
            }

            @include mq-up(lg) {
                display: initial;
            }
        }

        .wide {
            @include mq-up(xs) {
                display: none;
            }

            @include mq-up(md) {
                display: initial;
            }

            @include mq-up(lg) {
                display: none;
            }
        }
    }
    &--header {
        background: var(--bg-accent);
        color: var(--text-on-accent);
        padding: 40px 20px 20px;

        & > a {
            color: var(--text-on-accent);
            font-family: var(--font-header);
            font-weight: 800;
            display: flex;
            flex-direction: column;
            line-height: 110%;
            text-transform: capitalize;
            font-size: 20px;

            span {
                font-weight: 900;
                display: block;
                font-size: 1.4em;
            }
        }
    }
    &--group-icon {
        position: absolute;
        top: 10px;
        left: 0;
        display: grid;
        grid-template-columns: auto 30px;
        width: calc(100% - 10px);

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            top: calc(50% - 0.5px);
            background: var(--text-on-accent);
            position: relative;
        }

        span {
            border: 1px solid var(--text-on-accent);
            width: 30px;
            height: 30px;
            font-family: var(--font-header);
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &--info {
        display: grid;
        gap: 20px;
        padding: 20px;

        @include mq-up(xxs) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &--item {
        display: flex;
        flex-direction: column;
        font-size: var(--size-md);

        &.fullWidth {
            grid-column: 1 / -1;
        }

        .scroll {
            height: 125px;
            text-align: justify;
        }

        strong {
            max-width: max-content;
            text-transform: uppercase;
            line-height: 100%;
            background: var(--bg-accent-30);
            color: var(--text-secondary);
            font-weight: 400;
            font-size: var(--size-xs);
            letter-spacing: 0.15em;
            padding: 8px 15px;
            margin-top: 5px;
            border: 1px solid var(--border-accent);
        }

        & > span {
            border-left: 1px dotted var(--bg-accent);
            padding: 10px 0 10px 12px;
            margin: -1px 0 0 10px;
            text-align: left;

            a {
                color: var(--text-accent);
                font-weight: 600;
            }
        }
    }
}