@import '../global/mixins.scss';

/*******************************
    Navigation
********************************/
.nav {
    &--main {
        position: sticky;
        top: 0;
        width: 100%;
        height: var(--size--main-menu-height);
        background: var(--bg-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 5px 15px;
        font-size: var(--size-sm);
        color: var(--text-primary);
        z-index: 10;

        .button--menu {
            .fa-xmark {
                display: none;
            }
            &.is-open {
                .fa-xmark {
                    display: initial;
                }
                .fa-bars {
                    display: none;
                }
            }
        }

        button {
            padding: 0;
            border: 0;
            background: none;
            color: var(--text-primary);
        }

        a {
            color: var(--text-primary);
        }
    }
    &--left {
        display: flex;
        gap: 15px;
    }
    &--right {
        display: flex;
        gap: 15px;

        button {
            display: flex;
            align-items: center;
            gap: 5px;

            div {
                width: 15px;
                height: 5px;
                border-radius: 2.5px;
                background: var(--bg-quaternary);

                @include mq-up(sm) {
                    width: 25px;
                }

                span {
                    display: block;
                    width: 9px;
                    height: 9px;
                    margin: -2px auto -2px 0;
                    border-radius: 50%;
                    background: var(--bg-accent);
                }
            }
            .lgFont &.toggle--size {
                div {
                    background: var(--bg-accent-50);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background: var(--bg-accent-50);
                        border-radius: 2.5px;
                    }

                    span {
                        margin: -2px auto;
                    }
                }
            }

            .light &.toggle--theme,
            .xlFont &.toggle--size {
                div {
                    background: var(--bg-accent-50);

                    span {
                        margin: -2px 0 -2px auto;
                    }
                }
            }
        }
    }
    &--breadcrumb {
        position: sticky;
        top: var(--size--main-menu-height);
        width: 100%;
        height: var(--size--sub-menu-height);
        background: var(--bg-secondary);
        display: flex;
        align-items: center;
        padding: 5px 15px;
        font-size: var(--size-xs);
        color: var(--text-primary);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        z-index: 10;
        line-height: 120%;

        a {
            color: var(--text-primary);
        }

        i {
            margin: 0 5px;
        }
    }
    &--popout {
        position: fixed;
        top: calc(var(--size--main-menu-height) + var(--size--sub-menu-height));
        left: calc(-1 * var(--size--side-menu-width));
        z-index: 10;
        background: var(--bg-tertiary);
        width: var(--size--side-menu-width);
        height: calc(100vh - (var(--size--main-menu-height) + var(--size--sub-menu-height)));
        transition-duration: 0.3s;

        &.is-open {
            left: 0;
        }

        & > .scroll {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: calc(100vh - (var(--size--main-menu-height) + var(--size--sub-menu-height)) - 20px);
            width: calc(100% - 20px);
            padding-right: 10px;
            margin: 10px;

            a {
                border: 1px solid var(--bg-accent);
                color: var(--text-accent);
                text-transform: uppercase;
                font-weight: 900;
                text-align: center;
                padding: 5px 10px;
                font-size: var(--size-md);
                letter-spacing: 0.1em;
                transition-duration: 0.3s;

                &:hover {
                    background: var(--bg-accent);
                    color: var(--text-on-accent);
                }

                .light & {
                    background: var(--bg-accent);
                    color: var(--text-on-accent);

                    &:hover {
                        color: var(--text-accent);
                        background: none;
                    }
                }
            }
        }
    }
}
.invisibleEl {
    position: fixed;
    z-index: -999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.invisibleEl.menu-open {
    z-index: 9;
}