@import '../global/mixins.scss';

/*******************************
    Board Stats
********************************/
.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;

    @include mq-up(xxs) {
       border-left: 1px dotted var(--border-accent);
       margin-left: 30px;
       padding: 30px;
       gap: 30px;
    }

    &--inner {
        display: grid;
        background: var(--bg-secondary);
     
        @include mq-up(md) {
            grid-template-columns: 1fr 325px;
        }
    }

    &--main {
        display: grid;
        align-items: center;
        padding: 20px 20px 20px 0;
        border-top: 60px solid var(--bg-accent);
        grid-template-rows: 55px auto auto;

        @include mq-up(xxs) {
            padding: 30px 30px 30px 0;
        }
    
        @include mq-up(md) {
            grid-template-rows: 75px auto auto;
            min-height: 150px;
            padding: 20px 0;
            border-top: 0;
            border-left: 60px solid var(--bg-accent);
        }
    
        & > span {
            @include fluid-type(18, 30, 480, 1920);
            font-family: var(--font-header);
            font-weight: 800;
            padding: 0 45px 10px 20px;
            align-self: end;
            text-transform: capitalize;
            line-height: 120%;
        }
    }

    &--image {
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 5px;
        border: 1px solid var(--border-accent);
        width: 50px;
        height: 50px;
        background: var(--bg-secondary);
        z-index: 1;
    
        @include mq-up(md) {
            right: -25px;
            top: 70px;
        }
    
        img {
            width: 100%;
            height: 100%;
        }
    }

    &--stats {
        border-top: 1px solid var(--border-accent);
        display: flex;
        flex-wrap: wrap;
        padding: 0 45px 10px 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: var(--size-xs);
        letter-spacing: 0.15em;
        gap: 0 20px;
        align-self: start;
    }
    
    &--stat {
        display: flex;
        align-items: center;
        gap: 3.5px;
    
        b {
            color: var(--text-accent);
            font-size: 1.2em;
        }
    }

    &--online {
        margin: 20px 0 0 20px;
        background: var(--bg-tertiary);
        border: 1px solid var(--border-primary);
        padding: 15px 10px 15px 20px;
        font-size: var(--size-xl);
        font-family: var(--font-header);
        font-weight: 700;
        line-height: 160%;
        text-transform: lowercase;
        text-align: justify;
    
        @include mq-up(xxs) {
        margin: 20px 0 0 30px;
        }
    
        @include mq-up(md) {
            margin: 20px 20px 0 20px;
        }

        .scroll {
            height: 150px;
        }

        a > span {
            color: var(--text-accent);
        }
    }

    &--today {
        background: var(--bg-accent);
        padding: 20px;
        display: flex;
        flex-direction: column;
        color: var(--text-on-accent);
        font-size: var(--size-md);
        line-height: 160%;
        justify-content: center;
    
        @include mq-up(md) {
            padding: 20px 20px 20px 45px;
        }

        .scroll {
            text-align: justify;
            text-transform: capitalize;
            max-height: 220px;
            scrollbar-color: var(--text-on-accent) transparent;

            a {
                color: var(--text-on-accent);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--text-on-accent);
            }
        }
    }

    &--links {
       grid-column: 1 / -1;
       border-top: 1px solid var(--border-primary);
       background: var(--bg-tertiary);
       text-transform: uppercase;
       font-size: var(--size-xs);
       letter-spacing: 0.15em;
       font-weight: 400;
       line-height: 160%;
       padding: 10px;
       display: flex;
       flex-wrap: wrap;
       gap: 10px;
 
        a {
            border: 1px solid var(--border-accent);
            background: var(--bg-accent-30);
            color: var(--text-secondary);
            padding: 8px 15px;
            transition-duration: 0.3s;
    
            &:hover {
                background: var(--bg-accent);
                color: var(--text-on-accent);
            }
        }
    }

    &--recent {
        table {
            display: block;
            background: var(--bg-transparent-low);
            border: 1px solid var(--bg-accent-50);
            padding: 15px 7.5px 15px 15px;

            @include mq-up(xs) {
                padding: 30px 20px 30px 30px;
            }

            &::before {
                position: absolute;
                top: calc(50% - 1px);
                left: -31px;
                width: 30px;
                height: 1px;
                background: var(--bg-accent-50);

                @include mq-up(xxs) {
                    content: '';
                }
            }
        }
        tbody {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-color: var(--bg-accent) transparent;
            scrollbar-width: thin;
            padding-right: 7.5px;

            @include mq-up(xs) {
                padding: 20px;
            }
    
            @include mq-up(sm) {
                grid-template-columns: repeat(2, 1fr);
            }
    
            @include mq-up(lg) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        tr {
            display: flex;
            flex-direction: column;
    
            .recent-topics-info {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 100%;

                a {
                    &:first-child {
                        text-transform: uppercase;
                        line-height: 160%;
                        background: var(--bg-accent-30);
                        color: var(--text-secondary);
                        font-weight: 700;
                        font-size: var(--size-md);
                        padding: 8px 15px;
                        margin-top: 5px;
                        border: 1px solid var(--border-accent);
                        font-family: var(--font-header);
                        display: block;
                        max-width: max-content;
                    }
                    &:nth-child(2) {
                        display: inline-block;
                        border-left: 1px dotted var(--bg-accent);
                        padding: 10px 0 5px 12px;
                        margin: -1px 0 0 7px;
                        line-height: 100%;
                        font-size: var(--size-xs);
                        text-transform: uppercase;
                        letter-spacing: 0.15em;
                    }
                    &:empty {
                        display: none;
                    }
                }
            }
    
            .recent-topics-date {
                border-left: 1px dotted var(--bg-accent);
                padding: 5px 0 10px 12px;
                margin: -1px 0 0 10px;
                line-height: 100%;
                font-size: var(--size-xs);
                text-transform: uppercase;
                letter-spacing: 0.15em;
                width: 100%;
                display: block;

                .lgFont & {
                    margin-left: 10.5px;
                }
                .xlFont & {
                    margin-left: 11px;
                }
            }
        }
    }
}