@import '../global/mixins.scss';

/*******************************
    Store
********************************/
#store {
	main {
		& > table {

			&:first-of-type {
				display: block;
				
                & ~ * {
                    display: none;
                }

				& > tbody {
					display: block;

					& > tr {
						height: calc(100vh - 70px);
						min-height: 600px;
						display: grid;
						grid-template-columns: 300px auto;
						grid-template-rows: minmax(600px, calc(100vh - 70px));

                        @include mq-down(sm) {
							grid-template-columns: 100%;

							& > td#ucpmenu {
								position: fixed;
								top: 70px;
								left: 0;
								width: 100%;
								height: 40px;
								z-index: 2;
								overflow: hidden;
								padding-top: 0;

								.accordion {
									height: calc(100% - 40px);
								}

                                &.is-open {
                                    height: calc(100vh - 70px);
                                }
							}
                        }

						& > td {
                            &#ucpmenu {
                                background: var(--bg-accent);
                                color: var(--text-on-accent);
                                padding: 20px;
                                z-index: 2;
    
                                a {
                                    color: var(--text-on-accent);
                                }
    
                                & > button {
                                    width: 20px;
                                    height: 20px;
                                    margin: 10px 0;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    gap: 4px;
    
                                    &:hover {
                                        .menu-middle {
                                            width: 100%;
                                        }
                                        .menu-bottom {
                                            width: 100%;
                                        }
                                    }
                                }
    
                                .menu-bar {
                                    position: absolute;
                                    left: 0;
                                    background: var(--text-on-accent);
                                    height: 1px;
                                    transition-duration: 0.3s;
    
                                    &.menu-top {
                                        top: calc(50% - 5px);
                                        width: 100%;
                                    }
                                    &.menu-middle {
                                        top: 50%;
                                        width: 60%;
                                    }
                                    &.menu-bottom {
                                        top: calc(50% + 5px);
                                        width: 30%;
                                    }
                                }

                                &.is-open {
                                    .menu-top {
                                        opacity: 0;
                                    }
                                    .menu-middle,
                                    .menu-bottom {
                                        top: 10px;
                                        width: 100%;
                                    }
                                    .menu-middle {
                                        transform: rotate(45deg);
                                    }
                                    .menu-bottom {
                                        transform: rotate(-45deg);
                                    }
                                }
                                
                                .accordion {
                                    height: 100%;
                                    display: block;
                                    scrollbar-color: var(--text-on-accent) transparent;
                                }
    
                                .accordion--trigger {
                                    font-family: var(--font-header);
                                    font-weight: 900;
                                    font-size: 24px;
                                    line-height: 140%;
                                    padding-bottom: 10px;
                                    margin-bottom: 10px;
                                    cursor: pointer;
    
                                    &:not(.staffOnly) {
                                        display: block !important;
                                    }
    
                                    &::after {
                                        content: '';
                                        height: 1px;
                                        width: 0;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background: var(--text-on-accent);
                                        transition-duration: 0.3s;
                                    }
    
                                    &:hover {
                                        &::after {
                                            width: 100%;
                                        }
                                    }
                                }
    
                                .accordion--trigger.is-active {
                                    display: block !important;
    
                                    &::after {
                                        width: 100%;
                                    }
                                }
    
                                .accordion--content {
                                    display: none !important;
                                    flex-direction: column;
                                    padding-bottom: 20px;
                                    gap: 7.5px;
    
                                    a {
                                        font-size: var(--size-lg);
                                        line-height: 200%;
    
                                        &::before {
                                            transition-duration: 0.3s;
                                            font-family: 'Font Awesome 6 Pro';
                                            margin-right: 10px;
                                            font-weight: 100;
                                        }
    
                                        &.is-active {
                                            font-weight: 700;
                                            &::before {
                                                font-weight: 700;
                                            }
                                        }
                                    }
    
                                    &.is-active {
                                        display: flex !important;
                                    }
                                }
                            }
							&:nth-child(2) {
								display: none;
							}
                            &#ucpcontent {
                                height: 100%;
                                padding: 30px;

                                & > table,
                                .ucp--content-inner {
                                    background: var(--bg-transparent-low);
                                    border: 1px solid var(--bg-accent-50);
                                    padding: 15px 7.5px 15px 15px;
                                    height: 100%;

                                    @include mq-up(xs) {
                                        padding: 30px 20px 30px 30px;

                                        & > tbody {
                                            padding: 20px;
                                        }

                                        & > .scroll {
                                            padding: 20px;
                                        }
                                    }

                                    & > tbody,
                                    & > .scroll {
                                        display: block;
                                        overflow: auto;
                                        scrollbar-color: var(--bg-accent) transparent;
                                        scrollbar-width: thin;
                                        height: 100%;
                                        padding: 7.5px;

                                        &::-webkit-scrollbar {
                                            width: 6px;
                                        }
                                        &::-webkit-scrollbar-thumb {
                                            background: var(--bg-accent);
                                            border-radius: 3px;
                                        }
                                        &::-webkit-scrollbar-track {
                                            background: transparent;
                                        }
                                    }

                                    &::before,
                                    &::after {
                                        content: '';
                                        height: 1px;
                                        position: absolute;
                                        top: calc(50% - 0.5px);
                                        background: var(--bg-accent-50);
                                    }

                                    &::before {
                                        width: 100%;
                                        right: calc(100% + 1px);
                                    }

                                    &::after {
                                        width: 30px;
                                        right: -31px;
                                    }
                                }

                                input[type="text"],
                                input[type="file"],
                                input[type="password"],
                                textarea,
                                select {
                                    width: 100%;
                                }

                                .maintitle {
                                    display: none;
                                }

                                form {
                                    & > table {
                                        display: block;

                                        & > tbody {
                                            display: block;

                                            & > tr {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 10px;
                                                margin-bottom: 15px;

                                                @include mq-up(xxs) {
												    margin-bottom: 30px;
                                                }

                                                @include mq-up(sm) {
												   gap: 15px;
                                                }

                                                .pformleft {
                                                    b,
                                                    strong,
                                                    label {
                                                        line-height: 160%;
                                                        display: block;
                                                        max-width: max-content;
                                                        padding: 5px 10px;

                                                        & ~ br {
                                                            display: none;
                                                        }
                                                    }
                                                }

                                                .pformright {
                                                    display: flex;
                                                    gap: 5px;
                                                    height: max-content;
                                                }

                                                & > *:only-child {
                                                    grid-column: 1 / -1;
                                                }
                                                &:last-child {
                                                    .pformstrip {
                                                        &:only-child {
                                                            margin-bottom: 0;
                                                            padding: 0;
                                                            text-align: center;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
					}
				}
			}
		}
	}
}

#store.store-home {
	#ucpcontent {
		.scroll {
			& > table {
				& > tbody {
					& > tr {
						display: flex;
						flex-direction: column;
						text-align: left;

						&:not(:nth-child(4)) {
							margin-top: 30px;
						}

						td {
							text-align: justify;
							padding: 0;

							a {
								display: block;
								line-height: 160%;
								max-width: max-content;
								font-family: var(--font-header);
								font-weight: 900;
								text-transform: capitalize;
								@include fluid-type(18, 24, 480, 1920);

								& + br {
                                    display: none;
                                }
							}
						}
						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3) {
							display: none;
						}
					}
				}
			}
		}
	}
}

#store.store-shop {
	#ucpcontent {
		.scroll {
			& > table {
				display: block;

				& > tbody {
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					gap: 15px;

                    @include mq-up(sm) {
						grid-template-columns: repeat(2, 1fr);
                    }

                    @include mq-up(md) {
						grid-template-columns: repeat(3, 1fr);
                    }

					& > tr {
						display: flex;
						flex-wrap: wrap;

                        @include mq-up(sm) {
							flex: 0 0 calc(50% - calc(15px / 2));
                        }

                        @include mq-up(md) {
							flex: 0 0 calc((100% / 3) - calc(15px * 2 / 3));
                        }

						img {
							width: var(--size--store-image-width);
							height: var(--size--store-image-width);
							object-fit: contain;
							object-position: center;
						}

						&:first-child {
							display: none;
						}

						&:last-child {
							grid-column: 1 / -1;
							display: flex;
							justify-content: space-between;
							align-items: center;
							background: var(--bg-accent);
							color: var(--text-on-accent);
							padding: 10px;

							a {
								display: flex;
								align-items: center;
								justify-content: center;
								height: 30px;
								border: 1px solid var(--text-on-accent);
								padding: 0 15px;
								transition-duration: 0.3s;
								color: var(--text-on-accent);
								font-weight: 900;
								font-family: var(--font-header);
								font-size: var(--size-md);
								text-transform: capitalize;

								&:hover {
									background: var(--text-on-accent);
									color: var(--bg-accent);
								}
							}

							& > td {
								display: block;
								text-align: left;

								&:nth-child(2) {
									text-align: center;
								}
								&:last-child {
									text-align: right;
								}
							}
						}

						&:not(:first-child) {
							&:not(:last-child) {
								padding: 15px;
								display: -ms-grid;
								display: grid;
								grid-template-columns: var(--size--store-image-width) 1fr 1fr var(--size--store-image-width);
								grid-template-rows: max-content auto max-content max-content max-content;
								border: 1px solid var(--border-primary);
								background: var(--bg-transparent-low);

								& > td {
									padding: 0;
									text-align: left;

									&:first-child {
										height: var(--size--store-image-width);
										align-self: center;
									}

									&:nth-child(2) {
										grid-column: span 3;
										line-height: 160%;
										max-width: max-content;
										font-weight: 700;
										font-size: var(--size-xl);
										font-family: var(--font-header);
										padding-left: 10px;
										color: var(--text-accent);
									}

									&:nth-child(3) {
										grid-column: 1 / -1;
										padding: 10px 0;
										border-top: 1px solid var(--border-primary);
										border-bottom: 1px solid var(--border-primary);
										margin: 10px 0;
										font-size: calc(var(--size-sm) + 1px);
										text-align: justify;
									}

									&:nth-child(4) {
										grid-column: span 2;
										&::before {
											content: '$';
										}
									}

									&:nth-child(5) {
										grid-column: span 2;
										text-align: right;
										&::after {
											content: ' In Stock';
										}
									}

									&:nth-child(6) {
										&:last-child {
											grid-column: 1 / -1;
											padding: 5px 0 0;

											a {
												font-size: var(--size-md);
												max-width: max-content;
												display: inline-flex;
												align-items: center;
												justify-content: center;
												height: 30px;
												border: 1px solid var(--border-accent);
												color: var(--text-accent);
												padding: 0 15px;
												transition-duration: 0.3s;
												z-index: 1;
												font-weight: 700;
                                                
												&:hover {
													background: var(--bg-accent);
													color: var(--text-on-accent);
												}
											}
										}
										&:not(:last-child) {
											grid-column: span 2;
											padding: 15px 0 0;
											font-size: 0;

											a {
												font-size: var(--size-md);
												max-width: max-content;
												display: inline-flex;
												align-items: center;
												justify-content: center;
												height: 30px;
												border: 1px solid var(--border-accent);
												color: var(--text-accent);
												padding: 0 15px;
												transition-duration: 0.3s;
												z-index: 1;
												font-weight: 700;

												&:hover {
													background: var(--bg-accent);
													color: var(--text-on-accent);
												}
											}
										}
									}

									&:nth-child(7) {
										&:last-child {
											grid-column: span 2;
											padding: 15px 0 0;
											font-size: 0;

											a {
												font-size: var(--size-md);
												max-width: max-content;
												display: inline-flex;
												align-items: center;
												justify-content: center;
												height: 30px;
												border: 1px solid var(--border-accent);
												color: var(--text-accent);
												padding: 0 15px;
												transition-duration: 0.3s;
												z-index: 1;
												font-weight: 700;

												&:hover {
													background: var(--bg-accent);
													color: var(--text-on-accent);
												}

												&::before {
													content: 'Buy ';
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#store.store-inventory {
	#ucpcontent {
		.scroll {
			& > table {
				display: block;

				& > tbody {
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					gap: 15px;

                    @include mq-up(sm) {
						grid-template-columns: repeat(2, 1fr);
                    }

                    @include mq-up(lg) {
						grid-template-columns: repeat(3, 1fr);
                    }

					& > tr {
						display: flex;
						flex-wrap: wrap;

                        @include mq-up(sm) {
							flex: 0 0 calc(50% - calc(15px / 2));
                        }

                        @include mq-up(lg) {
							flex: 0 0 calc((100% / 3) - calc(15px * 2 / 3));
                        }

						img {
							width: var(--size--store-image-width);
							height: 24px;
							object-fit: contain;
							object-position: center;
						}

						&:first-child {
							grid-column: 1 / -1;
							display: grid;

							& > td {
								width: 100%;
								padding: 0;

								&:first-child {
									line-height: 160%;
									max-width: max-content;
									display: block;
									max-width: max-content;
								}
							}
						}
						&:nth-child(3),
						&:nth-child(2) {
							display: none;
						}

						&:not(:first-child) {
							&:not(:nth-child(2)) {
								&:not(:nth-child(3)) {
									padding: 15px;
									display: grid;
									grid-template-columns: var(--size--store-image-width) calc(100% - var(--size--store-image-width) - 15px);
									grid-template-rows: max-content max-content max-content 1fr;
									border: 1px solid var(--border-primary);
									background: var(--bg-transparent-low);

									td {
										padding: 0;
										width: 100%;

										&:first-child {
											order: 1;
										}

										&:nth-child(2) {
											order: 2;
											line-height: 160%;
											max-width: max-content;
											font-weight: 700;
											font-size: var(--size-xl);
											font-family: var(--font-header);
											padding-left: 10px;
											color: var(--text-accent);
										}

										&:not(:first-child) {
											&:not(:nth-child(2)) {
												grid-column: 1 / -1;
											}
										}

										&:nth-child(3) {
											margin-top: 10px;
											border-top: 1px solid var(--border-primary);
											text-align: justify;
											order: 4;
											padding: 10px 0 0;
											font-size: calc(var(--size-sm) + 1px);

											&:empty {
												display: none;
											}
										}
										&:nth-child(4) {
											flex: 0 0 100%;
											order: 3;
											text-align: left;
											margin-bottom: calc(-1 * 5px);

											&::after {
												content: ' Owned';
											}
										}
										&:last-child {
											display: flex;
											align-items: end;
											flex: 0 0 100%;
											order: 5;
											padding: 15px 0 0;
											margin-top: 10px;
											border-top: 1px solid var(--border-primary);

											a {
												display: block;
												max-width: max-content;
												display: flex;
												align-items: center;
												justify-content: center;
												height: 30px;
												border: 1px solid var(--border-accent);
												color: var(--text-accent);
												padding: 0 15px;
												transition-duration: 0.3s;
												z-index: 1;
												font-weight: 700;

												&:hover {
													background: var(--bg-accent);
													color: var(--text-on-accent);
												}
											}
											br {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#store.store-donate_money,
#store.store-donate_item,
#store.store-fine,
#store.store-edit_points,
#store.store-do_edit_points,
#store.store-edit_inventory,
#store.store-useitem {
	#ucpcontent {
		.scroll > table,
        & > table {
            & > tbody {
                & > tr {
                    &:not(:last-child) {
                        display: grid;

                        & > td {
                            width: 100%;
                        }

                        .pformleft {
                            &:first-child {
                                b,
                                strong,
                                label {
                                    max-width: max-content;
                                    text-transform: uppercase;
                                    line-height: 100%;
                                    background: var(--bg-accent-30);
                                    color: var(--text-secondary);
                                    font-weight: 400;
                                    font-size: var(--size-xs);
                                    letter-spacing: 0.15em;
                                    padding: 8px 15px;
                                    border: 1px solid var(--border-accent);

                                    & ~ br {
                                        display: none;
                                    }
                                }
                            }
                            & + .pformleft {
                                border-left: 1px dotted var(--bg-accent);
                                padding: 11px 0 10px 12px;
                                margin: 2px 0 0 10px;
                                height: 100%;
                            }
                        }
                    }
                }
            }
		}
	}
}

#store.store-do_staff_inventory {
	#ucpcontent {
		& > table,
        .scroll > table {
			display: block;

			& > tbody {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;

                @include mq-up(xxs) {
                    gap: 15px;
                }

				& > tr {
					display: flex;
					flex-wrap: wrap;
					height: max-content;
					flex: 0 0 100%;
					align-items: center;

					&:not(:last-child) {
						border-bottom: 1px solid var(--border-primary);
						padding-bottom: 20px;
						margin-bottom: 20px;
					}

					img {
						width: var(--size--store-image-width);
						height: var(--size--store-image-width);
						object-fit: contain;
						object-position: center;
					}

					& > td {
						padding: 0;
						height: max-content;
						text-align: left;

						&:first-child {
							flex: 0 0 calc(10px + var(--size--store-image-width));
						}

						&:nth-child(2) {
							flex: 0 0 calc(100% - (10px + var(--size--store-image-width) + 10px));
							font-weight: 700;
							font-size: var(--size-xl);
							font-family: var(--font-header);
							padding-left: 10px;
							color: var(--text-accent);
							text-align: left;
						}

						&:nth-child(3) {
							flex: 0 0 calc(100% - 10px);
							text-align: justify;

                            @include mq-up(xxs) {
								flex: 0 0 calc(100% - 15px);
                            }

							&:empty {
								display: none;
							}
						}

						&:nth-child(4) {
							display: none;
						}

						&:nth-child(5) {
							flex: 0 0 100%;
							.input-wrap {
								&::after {
									content: 'Delete';
								}
							}
						}
					}

					&:first-child {
						display: none;
					}

					&:nth-last-child(2) {
						&:not(:nth-child(2)) {
							display: none;
						}
					}

					&:last-child {
						flex: 0 0 100%;
						border: none;

						td {
							flex: 0 0 100%;
						}
					}
				}
			}
		}
	}
}