@import '../global/mixins.scss';

/*******************************
    Webpages
********************************/
.webpage {
    height: calc(100vh - 70px);
    min-height: 600px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: minmax(600px, calc(100vh - 70px));

    @include mq-down(sm) {
        grid-template-columns: 100%;
    }

    & ~ div {
        display: none;
    }

    &--menu {
        background: var(--bg-accent);
        color: var(--text-on-accent);
        padding: 20px;

        a {
            color: var(--text-on-accent);
        }

        @include mq-down(sm) {
            position: fixed;
            top: 70px;
            left: 0;
            width: 100%;
            height: 40px;
            z-index: 1;
            overflow: hidden;
            padding-top: 0;

            &.is-open {
                height: calc(100vh - 70px);
            }
        }

        button {
            width: 20px;
            height: 20px;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;

            &:hover {
                .menu-middle,
                .menu-bottom {
                    width: 100%;
                }
            }
        }
        .menu-bar {
            position: absolute;
            left: 0;
            background: var(--text-on-accent);
            height: 1px;
            transition-duration: 0.3s;

            &.menu-top {
                top: calc(50% - 5px);
                width: 100%;
            }

            &.menu-middle {
                top: 50%;
                width: 60%;
            }

            &.menu-bottom {
                top: calc(50% + 5px);
                width: 30%;
            }
        }
        &.is-open {
            .menu-top {
                opacity: 0;
            }
            .menu-middle {
                transform: rotate(45deg);
                top: 10px;
                width: 100%;
            }
            .menu-bottom {
                transform: rotate(-45deg);
                top: 10px;
                width: 100%;
            }
        }
    }

    &--content {
        text-align: justify;
        font-size: calc(var(--size-md) + 1px);
        line-height: 200%;

        @include mq-down(sm) {
            margin-top: 40px;
        }

        &-inner {
            background: var(--bg-transparent-low);
            border: 1px solid var(--bg-accent-50);
            padding: 30px 20px 30px 30px;
            height: 100%;

            .scroll {
                height: 100%;
                padding: 20px;
            }

            &::before,
            &::after {
                content: '';
                height: 1px;
                position: absolute;
                top: calc(50% - 0.5px);
                background: var(--bg-accent-50);
            }
            &::before {
                width: 100%;
                right: calc(100% + 1px);
            }
            &::after {
                width: 30px;
                right: -31px;
            }
        }
    }

    tag-tabset {
        width: 100%;
        display: block;
        height: 100%;
        overflow: hidden;
    }
    tag-tab {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background: var(--bg-primary);
        opacity: 0;
        transition: left 0.7s 0s, opacity 0.7s 0s;

        &.is-active {
            left: 0;
            opacity: 1;
            transition-delay: 0.5s;
            transition: left 0.7s 0.5s, opacity 0.7s 0s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: var(--bg-image);
            background-size: cover;
            background-position: 50% 50%;
            -webkit-filter: grayscale(1) contrast(120%) brightness(70%);
            filter: grayscale(1) contrast(120%) brightness(70%);
            opacity: 0.1;
        }
    }
    .tab-category tag-tab {
        padding: 30px;
    }

    .accordion {
        height: 100%;
        display: block;
        scrollbar-color: var(--text-on-accent) transparent;

        @include mq-down(sm) {
            height: calc(100% - 40px);
        }

        &--trigger {
            font-family: var(--font-header);
            font-weight: 900;
            font-size: 24px;
            line-height: 140%;
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            &.is-active {
                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: var(--text-on-accent);
                }
            }
        }

        &--content {
            display: none;
            flex-direction: column;
            padding-bottom: 20px;
            gap: 7.5px;

            &.is-active {
                display: flex;
            }

            a {
                font-size: var(--size-lg);
                line-height: 200%;

                &::before {
                    transition-duration: 0.3s;
                    font-family: 'Font Awesome 6 Pro';
                    margin-right: 10px;
                    font-weight: 100;
                }

                &.is-active,
                &:hover {
                    &::before {
                        content: '\f178';
                    }
                }

                &.is-active {
                    font-weight: 700;

                    &::before {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}